# === Build ===
target/

# === Maven ===
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# === IDE ===
.idea/
*.iml
.vscode/

# === Eclipse ===
.settings/
.classpath
.project

# === OS & Logs ===
.DS_Store
Thumbs.db
*.log

# === Env ===
.env
.env.local

# === App config (IMPORTANT) ===
application.properties